<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<listener>
		<listener-class>org.gcube.portlets.admin.accountingmanager.server.AccountingClientListener</listener-class>
	</listener>

	<!-- Servlets -->
	<!-- JUnit -->
	<servlet>
		<servlet-name>jUnitHostImpl</servlet-name>
		<servlet-class>com.google.gwt.junit.server.JUnitHostImpl</servlet-class>
	</servlet>

	<!-- AccountingManagerService -->
	<servlet>
		<servlet-name>AccountingManagerService</servlet-name>
		<servlet-class>org.gcube.portlets.admin.accountingmanager.server.AccountingManagerServiceImpl</servlet-class>
		<async-supported>true</async-supported>
	</servlet>

	<!-- ExportServlet -->
	<servlet>
		<servlet-name>ExportServlet</servlet-name>
		<servlet-class>org.gcube.portlets.admin.accountingmanager.server.ExportServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>

	<!-- Servlets Mapping -->
	<!-- JUnit -->
	<servlet-mapping>
		<servlet-name>jUnitHostImpl</servlet-name>
		<url-pattern>/accountingman/junithost/*</url-pattern>
	</servlet-mapping>


	<!-- AccountingManagerService -->
	<servlet-mapping>
		<servlet-name>AccountingManagerService</servlet-name>
		<url-pattern>/accountingman/ams</url-pattern>
	</servlet-mapping>

	<!-- ExportServlet -->
	<servlet-mapping>
		<servlet-name>ExportServlet</servlet-name>
		<url-pattern>/accountingman/ExportServlet</url-pattern>
	</servlet-mapping>


	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>AccountingManager.html</welcome-file>
	</welcome-file-list>
</web-app>
