/* Customisation to avoid bootstrap and material clashes for modal*/
#wpTreepopup > div.modal-header > h3 {
	font-size: 1.5em;
	line-height: 20px;
}

#wpTreepopup > div.modal-body {
	height: 280px;
	padding: 3px;
}

#wpTreepopup > div.modal-body > table > tbody > tr:nth-child(1) > td {
	padding: 0px;
}

#wpTreepopup > div.modal-body div.breadcrumbs-navigator > div > ul{
	padding: 0px;
	margin: 0px;
}
#wpTreepopup > div.modal-footer div.htmlSaveName {
	display: none;
}

#wpTreepopup > div.modal-footer > input {
	margin: 0px;
	height: 20px;
}
/* END Customisation to avoid bootstrap and material clashes for modal*/
.unread-message {
		border-left: 3px solid #2196f3;
	}

.collection .collection-item.active {
    background-color: #0277bd !important;
}

.collection .collection-item.active span.black-text {
    color: #fff !important;
}

.collection .collection-item.active span.grey-text {
    color: #ccc !important;
}

.message-metadata > div:not(.empty-state) h4 {
	font-size: 2em;
	margin-top: 10px !important;
	font-weight: 400 !important;
}

.message-metadata > div.message-sender h4 {
	font-size: 2.2em;
	font-weight: 500 !important;
}

.message-metadata > div.message-recipients h4 {
	font-size: 1.6em;
	color: #555;
	padding-bottom: 5px;
	border-bottom: 1px solid grey;
}

.gwt-SuggestBoxPopup .item-selected {
	color: #1565c0  !important;
	
}
.breadcrumb {
    padding: 2px 10px;
}

div.modal.BS-Navigator.in div.modal-body {
	height: 300px;
}
	