<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<web-app>
	<servlet>
    	<servlet-name>org.gcube.gcat.ResourceInitializer</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>org.gcube.gcat.ResourceInitializer</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>