<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
	<servlet>
		<servlet-name>LoggedinServiceImpl</servlet-name>
		<servlet-class>org.gcube.portlets.user.gcubeloggedin.server.LoggedinServiceImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LoggedinServiceImpl</servlet-name>
		<url-pattern>/gcubeloggedin/LoggedinServiceImpl</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>GCubeLoggedin.html</welcome-file>
	</welcome-file-list>

</web-app>
