<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<!-- Servlets -->
	<servlet>
		<servlet-name>scopeService</servlet-name>
		<servlet-class>org.gcube.portlets.user.gcubewidgets.server.ScopeServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>scopeService</servlet-name>
		<url-pattern>/gcubewidgets/scopeService</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>gcubeWidgets.html</welcome-file>
	</welcome-file-list>

</web-app>
