
.ext-el-mask-msg {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-width: 2px;
	background-color: #FFF;
}

.ext-el-mask-msg div {
	border-color: transparent;
	background-color: transparent;
}

.loading-indicator {
	background-position: 5px 50%;
	background-image: url("images/loader.gif");
}
