<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

 	<!-- Servlets -->
	<servlet>
		<servlet-name>grsfmanageservice</servlet-name>
		<servlet-class>org.gcube.datacatalogue.grsf_manage_widget.server.manage.GRSFNotificationService</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>grsfmanageservice</servlet-name>
		<url-pattern>/GRSFManageWidget/grsfmanageservice</url-pattern>
	</servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>GRSFManageWidget.html</welcome-file>
  </welcome-file-list>

</web-app>
