<web-app>
	<context-param>
		<param-name>secret</param-name>
		<param-value>Ew2DCqvvavzBx7fKFPWwKhNKN</param-value>
	</context-param>
	<context-param>
		<param-name>hostIp</param-name>
		<param-value>0.0.0.0</param-value>
	</context-param>
	<context-param>
		<param-name>hostname</param-name>
		<param-value>ckan-d-d4s.d4science.org</param-value>
	</context-param>
	<context-param>
		<param-name>internalPort</param-name>
		<param-value>8080</param-value>
	</context-param>
	<context-param>
		<param-name>ckanKey</param-name>
		<param-value>803ada7f-2080-493f-8a99-3e593e880d94</param-value>
	</context-param>
	<servlet>
    	<servlet-name>org.gcube.data.access.ckanconnector.CkanConnector</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>org.gcube.data.access.ckanconnector.CkanConnector</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>