<?xml version="1.0" encoding="UTF-8"?>

<!-- <web-app> -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_4.xsd"
         version="2.4"
         xmlns="http://java.sun.com/xml/ns/javaee">
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>IRBootstrapperServiceImpl</servlet-name>
    <servlet-class>org.gcube.portlets.admin.irbootstrapperportlet.gwt.server.IRBootstrapperServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>IRBootstrapperServiceImpl</servlet-name>
    <url-pattern>/irbootstrapperportletg/IRBootstrapperServiceImpl</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>IRBootstrapperPortletG.html</welcome-file>
  </welcome-file-list>

</web-app>
