<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>gr.forth.ics.isl.xsearch.admin.SessionCounter</listener-class>
    </listener>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>gr.forth.ics.isl.xsearch.InitializatorListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>AddNewCategory</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.admin.AddNewCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadList</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.admin.LoadList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProperties</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.inspecting.ShowProperties</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SemanticSearch</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.SemanticSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Search</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.Servlet_Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_GetInitialResults</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.interaction.Servlet_GetInitialResults</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_MinePage</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.mining.Servlet_MinePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPage</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.inspecting.CheckEntityInResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_LoadEntityResults</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.interaction.Servlet_LoadEntityResults</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_LoadHiddenEntities</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.interaction.Servlet_LoadHiddenEntities</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InspectEntity</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.inspecting.InspectEntity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_OpenResult</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.interaction.Servlet_OpenResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_ShowAll</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.interaction.Servlet_ShowAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Toggle</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.clustering.Toggle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_OpenURI</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.interaction.Servlet_OpenURI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_UnLoadEntityResults</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.interaction.Servlet_UnLoadEntityResults</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageMining</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.mining.PageMining</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.admin.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.admin.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeMineQuery</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.admin.ChangeMineQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeClusteringAlgorithm</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.admin.ChangeClusteringAlgorithm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveAcceptedCategory</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.admin.RemoveAcceptedCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAcceptedCategory</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.admin.AddAcceptedCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeDescriptionDocument</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.admin.ChangeDescriptionDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDescriptionDocument</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.admin.ShowDescriptionDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeEndpoint</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.admin.ChangeEndpoint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowTemplateQuery</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.admin.ShowTemplateQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeTemplate</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.admin.ChangeTemplate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveEntityEnrichment</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.admin.RemoveEntityEnrichment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEntityEnrichment</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.admin.AddEntityEnrichment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveConfiguration</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.admin.SaveConfiguration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadConfiguration</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.admin.LoadConfiguration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StopSparqlRunner</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.inspecting.StopSparqlRunner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetConfiguration</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.admin.ResetConfiguration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadNamedEntitiesList</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.admin.LoadNamedEntitiesList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryNamedEntities</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.admin.UpdateCategoryNamedEntities</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getsupportedcategories</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.api.getsupportedcategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getsupportedclusteringalgs</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.api.getsupportedclusteringalgs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getsupportedsearchsystems</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.api.getsupportedsearchsystems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processresults</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.api.processresults</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>link</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.api.link</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enrich</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.api.enrich</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processdocument</servlet-name>
        <servlet-class>gr.forth.ics.isl.xsearch.api.processdocument</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getsupportedcategories</servlet-name>
        <url-pattern>/api/getsupportedcategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getsupportedclusteringalgs</servlet-name>
        <url-pattern>/api/getsupportedclusteringalgs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getsupportedsearchsystems</servlet-name>
        <url-pattern>/api/getsupportedsearchsystems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processresults</servlet-name>
        <url-pattern>/api/processresults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>link</servlet-name>
        <url-pattern>/api/link</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enrich</servlet-name>
        <url-pattern>/api/enrich</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processdocument</servlet-name>
        <url-pattern>/api/processdocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Search</servlet-name>
        <url-pattern>/Servlet_Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadNamedEntitiesList</servlet-name>
        <url-pattern>/LoadNamedEntitiesList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_GetInitialResults</servlet-name>
        <url-pattern>/Servlet_GetInitialResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_MinePage</servlet-name>
        <url-pattern>/Servlet_MinePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryNamedEntities</servlet-name>
        <url-pattern>/UpdateCategoryNamedEntities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPage</servlet-name>
        <url-pattern>/ShowPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_LoadEntityResults</servlet-name>
        <url-pattern>/Servlet_LoadEntityResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_LoadHiddenEntities</servlet-name>
        <url-pattern>/Servlet_LoadHiddenEntities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InspectEntity</servlet-name>
        <url-pattern>/InspectEntity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_OpenResult</servlet-name>
        <url-pattern>/Servlet_OpenResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_ShowAll</servlet-name>
        <url-pattern>/Servlet_ShowAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetConfiguration</servlet-name>
        <url-pattern>/ResetConfiguration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Toggle</servlet-name>
        <url-pattern>/Toggle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_OpenURI</servlet-name>
        <url-pattern>/Servlet_OpenURI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_UnLoadEntityResults</servlet-name>
        <url-pattern>/Servlet_UnLoadEntityResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageMining</servlet-name>
        <url-pattern>/PageMining</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeMineQuery</servlet-name>
        <url-pattern>/ChangeMineQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeClusteringAlgorithm</servlet-name>
        <url-pattern>/ChangeClusteringAlgorithm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveAcceptedCategory</servlet-name>
        <url-pattern>/RemoveAcceptedCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAcceptedCategory</servlet-name>
        <url-pattern>/AddAcceptedCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeDescriptionDocument</servlet-name>
        <url-pattern>/ChangeDescriptionDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDescriptionDocument</servlet-name>
        <url-pattern>/ShowDescriptionDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeEndpoint</servlet-name>
        <url-pattern>/ChangeEndpoint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowTemplateQuery</servlet-name>
        <url-pattern>/ShowTemplateQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeTemplate</servlet-name>
        <url-pattern>/ChangeTemplate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveEntityEnrichment</servlet-name>
        <url-pattern>/RemoveEntityEnrichment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEntityEnrichment</servlet-name>
        <url-pattern>/AddEntityEnrichment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveConfiguration</servlet-name>
        <url-pattern>/SaveConfiguration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadConfiguration</servlet-name>
        <url-pattern>/LoadConfiguration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StopSparqlRunner</servlet-name>
        <url-pattern>/StopSparqlRunner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewCategory</servlet-name>
        <url-pattern>/AddNewCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadList</servlet-name>
        <url-pattern>/LoadList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProperties</servlet-name>
        <url-pattern>/ShowProperties</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SemanticSearch</servlet-name>
        <url-pattern>/SemanticSearch</url-pattern>
    </servlet-mapping>
</web-app>
