<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>aslHttpInformationRetrieval</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>org.gcube.application.framework.http.search.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCollections</display-name>
    <servlet-name>ShowCollections</servlet-name>
    <servlet-class>org.gcube.application.framework.http.search.ShowCollections</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCollections</servlet-name>
    <url-pattern>/ShowCollections</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CollectionInfos</display-name>
    <servlet-name>CollectionInfos</servlet-name>
    <servlet-class>org.gcube.application.framework.http.search.CollectionInfos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectionInfos</servlet-name>
    <url-pattern>/CollectionInfos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpenSearch</display-name>
    <servlet-name>OpenSearch</servlet-name>
    <servlet-class>org.gcube.application.framework.http.search.OpenSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenSearch</servlet-name>
    <url-pattern>/OpenSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenericSearch</display-name>
    <servlet-name>GenericSearch</servlet-name>
    <servlet-class>org.gcube.application.framework.http.search.GenericSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericSearch</servlet-name>
    <url-pattern>/GenericSearch</url-pattern>
  </servlet-mapping>
</web-app>