<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Servlets -->
  <servlet>
    <servlet-name>filesServlet</servlet-name>
    <servlet-class>org.gcube.portlets.user.lastupdatedfiles.server.FileServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
		<servlet-name>scopeService</servlet-name>
		<servlet-class>org.gcube.portlets.user.gcubewidgets.server.ScopeServiceImpl</servlet-class>
	</servlet>
  

  <servlet-mapping>
    <servlet-name>filesServlet</servlet-name>
    <url-pattern>/lastupdatesfiles/filesServlet</url-pattern>
  </servlet-mapping>
  
  
	<servlet-mapping>
		<servlet-name>scopeService</servlet-name>
		<url-pattern>/lastupdatesfiles/scopeService</url-pattern>
	</servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>LastUpdatesFiles.html</welcome-file>
  </welcome-file-list>

</web-app>
