<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>mailWisdgetServlet</servlet-name>
    <servlet-class>org.gcube.portlets.widgets.wsmail.server.WsMailServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>mailWisdgetServlet</servlet-name>
    <url-pattern>/wsmail_widget/mailWisdgetServlet</url-pattern>
  </servlet-mapping>
  
	<servlet>
		<servlet-name>workspaceExplorer</servlet-name>
		<servlet-class>org.gcube.portlets.widgets.wsexplorer.server.WorkspaceExplorerServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>workspaceExplorer</servlet-name>
		<url-pattern>/wsmail_widget/WorkspaceExplorerService</url-pattern>
	</servlet-mapping>

  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>WsMail_Widget.html</welcome-file>
  </welcome-file-list>

</web-app>
