<web-app>
	<servlet>
        <servlet-name>org.gcube.spatial.data.sdi.SDIService</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>org.gcube.spatial.data.sdi.SDIService</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>org.gcube.spatial.data.sdi.SDIService</servlet-name>
        <url-pattern>/gcube/service/*</url-pattern>
    </servlet-mapping>
</web-app>