<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>Policy Definition Portlet</display-name>
	<context-param>
		<param-name>productionMode</param-name>
		<param-value>true</param-value>
		<description>Vaadin production mode</description>
	</context-param>
</web-app>
