.wizard-title{
	padding: 5px;
	font-weight: bold;
	font-size: small;
}

.wizard-footer{
	padding: 5px;
	font-weight: bold;
	font-size: small;
	text-align: right;
}

.source-selection-hover:hover {
	cursor: pointer;
}