<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>aslHttpInfrastructureLogin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListInfrastructureScopes</display-name>
    <servlet-name>ListInfrastructureScopes</servlet-name>
    <servlet-class>org.gcube.application.framework.http.login.ListInfrastructureScopes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListInfrastructureScopes</servlet-name>
    <url-pattern>/ListInfrastructureScopes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>org.gcube.application.framework.http.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginScope</display-name>
    <servlet-name>LoginScope</servlet-name>
    <servlet-class>org.gcube.application.framework.http.login.LoginScope</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginScope</servlet-name>
    <url-pattern>/LoginScope</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>org.gcube.application.framework.http.login.Logout</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>