[
    WmsClient = [
        virtualorganisation = "d4science.research-infrastructures.eu";
        requirements = other.GlueCEStateStatus == "Production";
        WMProxyEndpoints = { 
            "https://wms-sl4.research-infrastructures.eu:7443/glite_wms_wmproxy_server"
        };
        ListenerStorage = "/tmp";
        ErrorStorage = "/tmp";
        ShallowRetryCount = 10;
        AllowZippedISB = false;
        PerusalFileEnable = false;
        rank =- other.GlueCEStateEstimatedResponseTime;
        OutputStorage = "/tmp";
        RetryCount = 3;
        MyProxyServer = "wn01.research-infrastructures.eu";
    ];
]
