@CHARSET "UTF-8";

/* Dialog tool button */
.dialog-tool-button-text {
	margin-left: -20px;
	margin-top: 2px;
}

.dialog-tool-button-text:hover {
	margin-left: -20px;
	margin-top: 0px;
}

.dialog-tool-button-icon {
	height: 20px;
}

.dialog-tool-button-icon:hover {
	height: 20px;
	border: 1px solid #222;
}

/**/
.area-selection-panel {
	border: 1px solid #ccc;
	background-color: white;
	margin-top: 4px;
	margin-bottom: 4px;
}

.area-selection-content {
	margin: 4px;
}

/* Progress */
.progress-bar-container {
	width: 100%;
	height: 25px;
	position: relative;
	background-color: #f1f1f1;
}

.progress-bar {
	color: #fff;
	background-color: #a5a5a5;
	height: 100%;
	position: absolute;
	line-height: inherit;
}

.progress-bar-text {
	text-align: center;
	color: #2d2d2d;
	position: absolute;
	width: 100%;
	margin-top: 5px;
}

/* Form */
.wkt-geometry-text-area {
	width: 400px !important;
}

.combo-geometry-type {
	width: 406px !important;
}