<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>SearchManagerServlet</servlet-name>
    <servlet-class>org.gcube.portlets.admin.searchmanagerportlet.gwt.server.SearchManagerServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SearchManagerServlet</servlet-name>
    <url-pattern>/searchmanager/SearchManagerServlet</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>SearchManager.html</welcome-file>
  </welcome-file-list>

</web-app>
