<?xml version="1.0" encoding="UTF-8"?>
	<configuration>
       	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${CATALINA_HOME}/logs/techno-economic-analysis.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                     <fileNamePattern>${CATALINA_HOME}/logs/techno-economic-analysis.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                     <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                     <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                             <maxFileSize>10MB</maxFileSize>
                     </timeBasedFileNamingAndTriggeringPolicy>
                     </triggeringPolicy>
                     <maxHistory>10</maxHistory>
            </rollingPolicy>
             
			<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
             	<Pattern>%d{HH:mm:ss} [%level] %logger{120}(%line\) - %msg%n </Pattern>
            </encoder>
       	</appender> 
       	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
			<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
             	<Pattern>%d{HH:mm:ss} [%level] %logger{120}(%line\) - %msg%n </Pattern>
			</encoder>
       	</appender>
	
       	<logger name="gr.cite.bluebridge.analytics" level="INFO" additivity="false">
        	<appender-ref ref="STDOUT" />
        	<appender-ref ref="FILE" />
       	</logger>
      	<root level="INFO">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="FILE" />
       	</root>	       
	      
		<logger name="org.gcube" level="WARN" />
   	 	<logger name="org.springframework" level="WARN" />
   	 	<logger name="gr.cite.bluebridge" level="INFO" />
   	 	
	</configuration>