<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<!-- Servlets -->

	<servlet>
		<servlet-name>uploadprogress</servlet-name>
		<servlet-class>org.gcube.portlets.widgets.fileupload.server.UploadProgressServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>uploadprogress</servlet-name>
		<url-pattern>/FileUpload/uploadprogress</url-pattern>
	</servlet-mapping>
	<!-- DO NOT CHANGE -->
	<servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class>org.gcube.portlets.widgets.fileupload.server.UploadServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/FileUpload/upload</url-pattern>
	</servlet-mapping>
	
	<!-- END DO NOT CHANGE -->

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>FileUpload.html</welcome-file>
	</welcome-file-list>

</web-app>
