<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd" >

<hibernate-configuration>
<session-factory>
<!-- Database connection settings -->
<!-- <property name="connection.driver_class">org.h2.Driver</property>
<property name="connection.url">jdbc:h2:mem:db1;DB_CLOSE_DELAY=-1;MVCC=TRUE</property>
<property name="connection.username">sa</property>
<property name="connection.password"/> -->

 <property name="connection.url">jdbc:postgresql://localhost:5432/test2</property>
 <property name="connection.driver_class">org.postgresql.Driver</property>
 <property name="connection.username">postgres</property>
 <property name="connection.password">p0stgr3sp@$$wd</property>
 <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
 
 <!-- SQL dialect - generate SQL for a particular database -->
 <property name="hibernate.dialect">org.hibernate.spatial.dialect.postgis.PostgisDialect</property>
<!-- JDBC connection pool (use the built-in) -->
<!-- <property name="connection.pool_size">1</property> -->

<!-- Disable the second-level cache -->
<!-- <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property> -->
<!-- Echo all executed SQL to stdout -->
<property name="show_sql">true</property>
<!-- Drop and re-create the database schema on startup -->
<property name="hbm2ddl.auto">create</property>

<property name="hibernate.default_schema">public</property>
<property name="hibernatetool.metadatadialect">gr.cite.geoanalytics.dataaccess.entities.metadialect.PostgreSQLMetaDialect</property>

 <mapping class="gr.cite.geoanalytics.dataaccess.entities.user.User" />
 <mapping class="gr.cite.geoanalytics.dataaccess.entities.customer.Customer" />
 <mapping class="gr.cite.geoanalytics.dataaccess.entities.layer.Layer"/>
 <mapping class="gr.cite.geoanalytics.dataaccess.entities.layer.LayerReplication"/>
 <mapping class="gr.cite.geoanalytics.dataaccess.entities.layer.LayerTenant"/>
 
</session-factory>

</hibernate-configuration>