<?xml version="1.0"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>sync-web</display-name>
	<context-param>
		<param-name>axis.servicesPath</param-name>
		<param-value>/api/axis/</param-value>
	</context-param>
	<context-param>
		<param-name>portalListenerClasses</param-name>
		<param-value>com.liferay.portal.kernel.servlet.SerializableSessionAttributeListener,com.liferay.sync.servlet.SyncServletContextListener</param-value>
	</context-param>
	<filter>
		<filter-name>Invoker Filter - ERROR</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.filters.invoker.InvokerFilter</filter-class>
		<init-param>
			<param-name>dispatcher</param-name>
			<param-value>ERROR</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Invoker Filter - FORWARD</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.filters.invoker.InvokerFilter</filter-class>
		<init-param>
			<param-name>dispatcher</param-name>
			<param-value>FORWARD</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Invoker Filter - INCLUDE</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.filters.invoker.InvokerFilter</filter-class>
		<init-param>
			<param-name>dispatcher</param-name>
			<param-value>INCLUDE</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Invoker Filter - REQUEST</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.filters.invoker.InvokerFilter</filter-class>
		<init-param>
			<param-name>dispatcher</param-name>
			<param-value>REQUEST</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Invoker Filter - ERROR</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Invoker Filter - FORWARD</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Invoker Filter - INCLUDE</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Invoker Filter - REQUEST</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<listener>
		<listener-class>com.liferay.portal.kernel.servlet.SecurePluginContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>Dynamic Resource Servlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortalClassLoaderServlet</servlet-class>
		<init-param>
			<param-name>servlet-class</param-name>
			<param-value>com.liferay.portal.webserver.DynamicResourceServlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Atom Servlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortalClassLoaderServlet</servlet-class>
		<init-param>
			<param-name>servlet-class</param-name>
			<param-value>com.liferay.portal.servlet.AtomServlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Axis Servlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortalClassLoaderServlet</servlet-class>
		<init-param>
			<param-name>servlet-class</param-name>
			<param-value>com.liferay.portal.servlet.AxisServlet</param-value>
		</init-param>
		<init-param>
			<param-name>use-portlet-class-loader</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>JSON Servlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortalClassLoaderServlet</servlet-class>
		<init-param>
			<param-name>servlet-class</param-name>
			<param-value>com.liferay.portal.servlet.JSONServlet</param-value>
		</init-param>
		<init-param>
			<param-name>use-portlet-class-loader</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>JSON Web Service Servlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortalClassLoaderServlet</servlet-class>
		<init-param>
			<param-name>servlet-class</param-name>
			<param-value>com.liferay.portal.jsonwebservice.JSONWebServiceServlet</param-value>
		</init-param>
		<init-param>
			<param-name>use-portlet-class-loader</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Download Servlet</servlet-name>
		<servlet-class>com.liferay.sync.servlet.DownloadServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dynamic Resource Servlet</servlet-name>
		<url-pattern>/sprite/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Atom Servlet</servlet-name>
		<url-pattern>/api/atom/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Axis Servlet</servlet-name>
		<url-pattern>/api/axis/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSON Servlet</servlet-name>
		<url-pattern>/api/json/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSON Web Service Servlet</servlet-name>
		<url-pattern>/api/jsonws/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Download Servlet</servlet-name>
		<url-pattern>/download/*</url-pattern>
	</servlet-mapping>
</web-app>