<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>DBHarvester</display-name>

  <servlet>
    <description></description>
    <display-name>HarvestDB</display-name>
    <servlet-name>HarvestDB</servlet-name>
    <servlet-class>org.gcube.application.framework.harvesting.db.HarvestDB</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>HarvestDB</servlet-name>
    <url-pattern>/HarvestDB</url-pattern>
  </servlet-mapping>
</web-app>