<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>aslHttpContentAccess</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ContentInfo</display-name>
    <servlet-name>ContentInfo</servlet-name>
    <servlet-class>org.gcube.application.framework.http.content.access.ContentInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentInfo</servlet-name>
    <url-pattern>/ContentInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContentViewer</display-name>
    <servlet-name>ContentViewer</servlet-name>
    <servlet-class>org.gcube.application.framework.http.content.access.ContentViewer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentViewer</servlet-name>
    <url-pattern>/ContentViewer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MetadataViewer</display-name>
    <servlet-name>MetadataViewer</servlet-name>
    <servlet-class>org.gcube.application.framework.http.content.access.MetadataViewer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MetadataViewer</servlet-name>
    <url-pattern>/MetadataViewer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThumbnailViewer</display-name>
    <servlet-name>ThumbnailViewer</servlet-name>
    <servlet-class>org.gcube.application.framework.http.content.access.ThumbnailViewer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThumbnailViewer</servlet-name>
    <url-pattern>/ThumbnailViewer</url-pattern>
  </servlet-mapping>
</web-app>